body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Roboto';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#header {
	background-color: #F44336;
	width: 100%;
	height: 76px;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	position:fixed;
	z-index: 2;
	display: flex;
	align-items: center; /* align vertical */
}

#header h2 {
	color: white;
	margin-left: 16px;
}

#nav-bar {
	position: absolute;
	right: 16px;
}

.nav-link {
	background-color: transparent;
	color: white;
	border: none;
	border: none;
	outline:none;
	font-weight: 600;
	overflow: hidden;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
}

.nav-link h4 {
	font-size: 0.9em;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	padding: 8px 16px 8px 16px;
}

.nav-link h4:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
}

.content-section {
	height: 100%;
	min-height: 276px;
}
#home {
	background-color: #B71C1C;
}
#intro {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}
#intro h1 {
	color: white;
	text-align: left;
}

#about {
	background-color: white;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	min-height: calc(100vw / 2);
}
#about .card-title {
	background-color: #43A047;
}

#work {
	background-color: white;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	min-height: calc(100vw / 2);
}
#work .card-title {
	background-color: #009688;
}

#projects {
	background-color: white;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	min-height: calc(100vw / 2);
}
#projects .card-title {
	background-color: #0288D1;
}

#contact {
	background-color: white;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	min-height: calc(100vw / 2);
}
#contact .card-title {
	background-color: #EF6C00;
}

.card {
	max-width: 800px;
	height: 80%;
	width: 75%;
	max-height: 800px;
	background-color: white;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0,0,0,0.1);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.26);
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.26);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card:hover {
  -webkit-transform: scale(1.0, 1.0);
  transform: scale(1.0, 1.0);
}
.card:hover::after {
    opacity: 1;
}
.wrapper-card-title {
	width: 100%;
  display: inline-block;
  position: relative;
}
.wrapper-card-title:after {
  padding-top: 22.27%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.card-title {
	position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
	border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px;
	-webkit-border-radius: 2px 2px 0px 0px;

	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	text-transform: uppercase;
	color: white;
	font-size: 2em;
	font-weight: 800;
}

.card-content {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	color: rgba(0, 0, 0, 0.87);
	font-size: 1em;
	font-weight: 400;
	margin-top: 16px;
}
